*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;

}
:root{
  --buttonColor:#1c1f20;
  --buyButton:#800000;
  --pag:#b29d8d;
  --black:#1c1f20;
  --white:#fbfaf9;
  --lightblue:#c8d9e6;
  --teal:#567cbd;
  --navy:#2f4156;
  /* colors */
}

.App{
  
  border: 3px solid rgb(84, 202, 54);
  background-color: var(--white);
  justify-content: center;
  width: 100%; 
  text-align: center;  
}
.home{
  border: 3px solid red;
  position: relative;
  left: 5%;
  right: 5%;
  width:90%;
  justify-content: center;

}
.carousel-control-prev-icon , .carousel-control-next-icon{
  padding: 25%;
  background-color: var(--black);
}
.headPage{
 width: 50%;
  color: var(--pag);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  text-align: center;
  position: relative;
  left: 20%;

}
.description{
  font-weight: 600;
  letter-spacing: .3rem;
  font-size: 1rem;
  color: var(--buttonColor);
 /*  width: 50%; */
 
}
.serviceName{
  font-weight: 800;
  font-size: 5rem;
  position: absolute;
  top: 40%;
  color: var(--lightblue);


}
.collection{
  position: relative;
  left: 35%;
  margin-top: 4%;
  border-bottom: 2px solid var(--black);
  border-top: 2px solid var(--black);

}
.title1{
  font-size: 3rem;
  color: var(--buttonColor);
  letter-spacing: .7rem;
  font-family: "Edu AU VIC WA NT Pre", serif;
}
.a1{
  color: var(--black);
  position: absolute;
  top:40%;
  left: 30%;
}
.fp{
  font-size: 1rem;
  font-weight: 400;
}
.submit{
  margin-top: 3%;
  background-color: var(--pag);
  font-size: 1rem;
  font-weight: 600;
}
.a2{
  position: absolute;
  left:15%;
  font-size: 4.5rem;

}
.a3{
  position: absolute;
  left: 20%;
}
.a4{
  position: absolute;
  left: 25%;
}
.a5{
  position: absolute;
  top:35%;
  left: 15%;
}
.afterCaregory{
  margin-top: 3%;
  border-top: 3px solid black;

  text-align: center;
  width: 75%;
  height: 30%;
  position: relative;
  left: 10%;
  right: 10%;
  justify-content: center;
}

.categoriesPage{
  margin-top: 5%;
  background-color: var(--lightblue);
  text-align: center;
  width: 75%;
  height: 30%;
  position: relative;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  
}

.advantiges{
 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  border-left: 6px solid var(--pag);
  border-right: 6px solid var(--pag);
  justify-content: center;

}
.s1{
  width: 22%;
  border-left: 3px solid var(--pag);
  border-right: 3px solid var(--pag);
}
.logo1{
  color: var(--pag);
  font-size: 2rem;
}
.footer{
  justify-content: center;
  margin-top: 5%;
  color: var(--white);
  background-color: var(--black);
  width: 100%;
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.footerSs{
 
  justify-content: center;
  border: 3px solid rgb(195, 192, 25);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.f{
text-align: left;
  width:20%;
  text-indent: 0%;
  float: right;
  padding-left: 0%;
  padding-right: 0%;
}
.f1{
  margin-right: 10%;
}
.formPage{
  width: 100%;
  display: flex;
  flex-direction: column;

} 
.linkF{
  color: #96CEB4;
}
.w-100{
  width: 400px;
  height: 500px;
}

/* ....................Done .................... */
/* .......header........................ */
header{
  padding-top: .5%;
  font-family: "Edu AU VIC WA NT Pre", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  flex-wrap: wrap;
  font-size: 18px;
  display: flex;
  background-color:var(--pag);
  justify-content: space-evenly;
}
.link , .name{
  margin-top: 2%;
  color: var(--buttonColor);
  font-family: "Edu AU VIC WA NT Pre", serif;
  text-decoration: none;
  color: #8E1616;

}
.name{
  display: flex;
  flex-wrap: wrap;

}
.headerIcon:hover{
 
  color: #e9f1e9;
  text-decoration: none;
}
.link{
  color: #800000;
  text-decoration: none;
}
.link:hover{
  text-decoration: none;
  color: #e9f1e9;
}
.registerSection{
  border: #567cbd 2px solid;

  font-size: 25px;
  margin-top: .2%;
  display: flex;
  width: 20%;
  gap: 3%;
  justify-content: space-between;
  color: var(--buttonColor);

}
.name{
  width: 50%;
  border: 2px solid black;
  display: flex;
  gap: 20%;
  
 

}
.log ,.out , .register{
  color: var(--buttonColor);
  border: #8E1616  2px solid;
}
.registerPage{
  padding-top: 5%;
  width: 50%;
  justify-content: center;
  background-color: var(--pag);
  position: absolute;
  left: 25%;
  right: 25%;
}


.out{
  float: right;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--teal);
}

.register{
  gap: 10%;
}
.headerList{
  gap: 10%;
  color: var(--buttonColor);
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.headerIcon{
  cursor: pointer;
font-size: 2rem;
color: var(--buttonColor);
}

/* ....................... */
.searchInput{
  margin-top: 1%;
  color: #151615;
  background-color: transparent;
  width: 35%;
  height: 80%;
  padding-left: 0;
  padding-right: 0%;
  

}
.search{
  border: transparent;
  width: 80%;

  background-color: transparent;
}

.searchSign{
color: #e9f1e9;
width: 10%;
font-size: 1.5rem;
}
.search:hover{
  background-color: var(--lightPag);
}


.ht{
  letter-spacing: .7px;
  font-size: 3rem;
  color: var(--buttonColor);
  letter-spacing: .6rem;
  font-family: "Edu AU VIC WA NT Pre", serif;

}
.categoryElement{
  border: transparent;
  border-radius: 50%;
  background-color: transparent;
 /*  border-radius: 40%;
  background-color:  var(--lightBrown);
  cursor: pointer;
  color: #151615;
  font-size: 15px;
  text-indent: .5px;
  font-weight: 500;
  font-family: "Edu AU VIC WA NT Pre", serif;

  border: transparent;  */
}
.categoryImage{
  border-radius: 50%;
  border: 2px solid white;
  width:12em;
  height: 60%;
} 


/* .App {
  overflow-x: hidden;
  display: grid;
  color: var(--pag);
  background-color: var(--lightBrown);
  font-size: 10px;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% auto ;
} */
/* .............................. */


.favPage{
  height: 100vh;
  width: 100vh;
}
.cardPage{
  height: 100vh;
  width: 100%;
}
.main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* ............header.............. */

/* .categoryElement{
  
  border-radius: 10%;
  background-color:  var(--lightBrown);
  cursor: pointer;
  color: #151615;
  font-size: 15px;
  text-indent: .5px;
  font-weight: 500;
  font-family: "Edu AU VIC WA NT Pre", serif;

  border: transparent; 
}
 */

/* ...........categoriesPage.............. */
.category{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  padding: 0;
  justify-content: center; 
 /*  grid-template-columns:; */
}
.product{

  background-color: var(--lightPag);
  margin: 0;
  padding: 0;
  width: 20%;
  height: 40%;
  border-radius: 5%;
  text-align: center;
  margin: 1%;
  border-radius: 10%;
  border: transparent;
  cursor: pointer;
  color: #151615;
  font-size: 15px;
  text-indent: .5px;


}
/* .product:hover{
  border: 15px solid white;

} */
.singleImage{
border-top-left-radius: 2% ;
border-top-right-radius: 2% ;
  width:100%;
  height: 260px;

}
.productCode, .productTitle ,.price{
  font-family: "Edu AU VIC WA NT Pre", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.price ,.productTitle{
  font-size: 20px;

}
/*  .back{
  transform: rotate(50deg);
  height: 70%;
  width:100%;
  background-image: url("https://res.cloudinary.com/drhlmb3qr/image/upload/v1736267538/Premium_jersey_hxsnpi.jpg");

}   */
/* --page of each category--- */

.productPage{
  position: relative;
  left: 10%;
  justify-items: center; 
  width: 80%;
  height: 100%;
  display: flex;
  gap: 3%;

} 
.productImages{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.pic{
  height:500px;

}



.slide{
  height: 50%;
}
.heart{
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 9%;
  z-index: 2;
  left: 10%;
  border: #567cbd 1px solid;
}
.productButton{
  display: flex;
  gap: 4%;
}
.card{
  padding: 2%;
  background-color: var(--darkBrown);
  width: 70%;
  height: 30%;
}
.colorImage{
  width:20px;
  height: 20px;
}
.card:hover{
  background-color: var(--pag);
}
.colors{
  display: flex;
}
.cardPage{
  display: flex;

}
.imgCard{
  width: 100px;
  
}


/* --page of each product--- */