*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --buttonColor:#f6eee5;
  --brown:#8b7e72;
  --lightBrown:#a1887f;
  --lightPag:#d7ccc8;
  --pag:#efebe9;
  --fontColor:#efebe9;
  --gray:#343a40;
  --meduimGray:#343a40;
  --black:black;
  --darkBrown:#92140c;
  /* colors */
}

.App{
  background-color: var(--lightBrown);
  justify-content: center;
  width: 100%;   
}


/* .App {
  overflow-x: hidden;
  display: grid;
  color: var(--pag);
  background-color: var(--lightBrown);
  font-size: 10px;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% auto ;
} */
/* .............................. */
header{
  flex-wrap: wrap;
border-bottom: 2px solid white;
  padding: 1%;
  font-size: 18px;
  display: flex;
  background-color:var(--lightBrown);
  justify-content: space-evenly;
}
.favPage{
  height: 100vh;
  width: 100vh;
}
.cardPage{
  height: 100vh;
  width: 100%;
}
.main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.link, .name{
  font-family: "Edu AU VIC WA NT Pre", serif;
  color:var(--gray);
  text-decoration: none;

}
.headerIcon :hover{
  color: #343a40;
  text-decoration: none;
}
.link:hover{
  color: #343a40;
  text-decoration: none;
}
.headerList{
  list-style: none;
  display: flex;
  gap: 40%;
  justify-content: space-between;
}
.headerIcon{
font-size: 2rem;
  color: #343a40;
}
.registerSection{
  display: flex;
  gap: 15%;
  font-weight: 800;
}
/* ....................... */
.searchInput{
  color: #151615;
  background-color: transparent;
  border: var(--darkerPage);
 
  height: 80%;
  width: 30%;
}
.search{
  border-radius: 15%;
  color: #151615;
 background-color: transparent;
  border: 3px solid var(--gray);
  width: 90%;
  height: 100%;
  border-left: #d7ccc8 5px solid;
}
.searchSign{
color: #e9f1e9;
width: 10%;
font-size: 1.5rem;
}
.search:hover{
  background-color: var(--lightPag);
}

/* ............header.............. */
.categoriesPage{
  font-family: "Edu AU VIC WA NT Pre", serif;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color:  var(--lightPag);
  gap: 3%;
  height: 60%;
  position: relative;
  justify-content: center;
  display: flex;
  left: 15%;
  flex-direction: row;

  
}
.categoryElement{
  
  border-radius: 10%;
  background-color:  var(--lightBrown);
  cursor: pointer;
  color: #151615;
  font-size: 15px;
  text-indent: .5px;
  font-weight: 500;
  font-family: "Edu AU VIC WA NT Pre", serif;

  border: transparent; 
}
 .categoryElement:hover{
  border: 12px solid white;
} 
.categoryImage{
  border: 2px solid white;
  border-radius: 50%;
  width:12em;
  height: 60%;
}
/* ...........categoriesPage.............. */
.category{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  padding: 0;
  justify-content: center; 
 /*  grid-template-columns:; */
}
.product{
 
  background-color: var(--lightPag);
  margin: 0;
  padding: 0;
  width: 20%;
  height: 40%;
  border-radius: 5%;
  text-align: center;
  margin: 1%;
  border-radius: 10%;
  border: transparent;
  cursor: pointer;
  color: #151615;
  font-size: 15px;
  text-indent: .5px;

}
/* .product:hover{
  border: 15px solid white;

} */
.singleImage{
 

  width:100%;
  height: 260px;

}
.productCode, .productTitle ,.price{
  font-family: "Edu AU VIC WA NT Pre", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.price ,.productTitle{
  font-size: 20px;

}
/*  .back{
  transform: rotate(50deg);
  height: 70%;
  width:100%;
  background-image: url("https://res.cloudinary.com/drhlmb3qr/image/upload/v1736267538/Premium_jersey_hxsnpi.jpg");

}   */
/* --page of each category--- */

.productPage{
  position: relative;
  left: 10%;
  justify-items: center; 
  width: 80%;
  height: 100%;
  display: flex;
  gap: 3%;

} 
.productImages{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.pic{
  height:500px;

}



.slide{
  height: 50%;
}
.heart{
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 9%;
  z-index: 2;
  left: 10%;
}
.productButton{
  display: flex;
  gap: 4%;
}
.card{
  padding: 2%;
  background-color: var(--darkBrown);
  width: 70%;
  height: 30%;
}
.colorImage{
  width:20px;
  height: 20px;
}
.card:hover{
  background-color: var(--pag);
}
.colors{
  display: flex;
}

/* --page of each product--- */