*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --buttonColor:#f6eee5;
  --brown:#8b7e72;
  --lightBrown:#a1887f;
  --lightPag:#d7ccc8;
  --pag:#efebe9;
  --fontColor:#efebe9;
  --gray:#343a40;
  --meduimGray:#343a40;
  --black:black;
  --darkBrown:#92140c;
  /* colors */
}

#root{
  height: 100vh;
}
.App {
  display: grid;
  grid-template-rows: 2fr 10fr;
  color: var(--pag);
  background-color: var(--lightBrown);
  font-size: 20px;
  text-align: center;
  padding:0;
  margin:0;
  display: grid;
  grid-template-rows: 10% auto ;
}
header{
  padding: 1%;
  color: rgb(234, 227, 227);
  font-size: 18px;
  display: flex;
  
  background-color:var(--lightBrown);
  justify-content: space-evenly;
}
.favPage{
  height: 100vh;
  width: 100%;
}
.cardPage{
  height: 100vh;
  width: 100%;
}
.main{
  height: 100vh;
  width: 100%;
}
.link, .name{
  color:var(--meduimGray);
  text-decoration: none;

}
.headerList{
  color: black;
  list-style: none;
  display: flex;
  gap: 70%;
  justify-content: space-between;
}
.headerIcon{
font-size: 2rem;
  color: #343a40;
}

.registerSection{
  display: flex;
  gap: 20%;
  font-weight: 800;
}
.searchInput{

  background-color: transparent;
  border-radius: 40%;
  border: var(--darkerPage);
  height: 80%;
  width: 30%;
}
.search{
 background-color: transparent;
  border: 3px solid var(--gray);
  width: 90%;
  height: 100%;
}
.searchSign{
color: #e9f1e9;
width: 10%;
font-size: 1.5rem;
}
/* ............header.............. */
.categoriesPage{
  margin-top: 5%;
  background-color:  var(--lightPag);
  display: flex;
  justify-content: center;
  gap: 3%;
  width:100%;
  
}
.categoryElement{
  border-radius: 10%;
  background-color:  var(--lightBrown);
  border: #92140c 13px solid;
  cursor: pointer;
  color: #151615;
  font-size: 15px;
  text-indent: .5px;
  font-weight: 500;
  width: 10rem;
  font-family: "Edu AU VIC WA NT Pre", serif;

  border: transparent; 
}
.categoryElement:hover{
  border: 12px solid white;
}
.categoryImage{
  border: 2px solid white;
  border-radius: 50%;
  width:12em;
  height: 50%;
}
/* ...........categoriesPage.............. */
.category{
  height: 100vh;
  display: flex;
 /*  grid-template-columns:; */
}
.categoryElement{
  width: 320px;
  height: 320px;
}
.singleImage{
  width: 120px;
  height: 120px;
}
/* --page of each category--- */

.productPage{
  height: 100vh;
}
.slide{
  height: 50%;
}
.heart{
  cursor: pointer;
  position: relative;
  top: 15%;
  z-index: 2;
  right: 40%;
}


/* --page of each product--- */









